extends ../_skeleton

block page
	include ../sections/_header-classic

	include ../sections/_home-slider
	//We work quickly
	include ../sections/_quickly-work
	//Discount form
	include ../sections/_discount
	//Service icon box
	include ../sections/_service-types
	//Parallax
	include ../sections/_parallax
	//Tabs
	include ../sections/_best-choice
	//Team carousel
	include ../sections/_team-crousel
	//Testimonials
	include ../sections/_review-cart
	//Counter
	include ../sections/_counters-classic
	//News
	include  ../sections/_news

	include ../sections/_footer-classic
