extends ../_skeleton

block variables
	- pageName = 'News'

block page
	include ../sections/_header-classic
	include ../components/posts
	include ../components/pagination
	+breadcrumbs

	section.section.section-md.bg-default
		.container
			.row.row-50.justify-content-center
				.col-md-7.col-lg-8.post-classic-wrap
					+post-classic-3({
						tag: 'News',
						image: 'post-1-770x380',
						title: 'Review: collaboration with a new cargo-only airport',
						link: 'single-post.html',
						exeption: 'Praesent semper feugiat nibh sed pulvinar proin gravida. Aliquam malesuada bibendum arcu vitae. Ac turpis egestas sed tempus. Morbi quis commodo odio aenean sed adipiscing diam donec.',
						time: 'May 10, 2019'
					})

					+post-classic-3({
						tag: 'News',
						image: 'post-2-770x380',
						title: 'Cartonization technology in parcel freight',
						link: 'single-post.html',
						exeption: 'Libero justo laoreet sit amet cursus sit amet dictum. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Nulla facilisi etiam dignissim diam quis enim convallis. ',
						time: 'May 10, 2019'
					})

					+post-classic-3({
						tag: 'News',
						image: 'post-3-770x380',
						title: 'Usage of electric vehicles in work of our company',
						link: 'single-post.html',
						exeption: 'In hac habitasse platea dictumst vestibulum rhoncus est. Nisi lacus sed viverra tellus in hac habitasse. Lobortis feugiat vivamus at augue eget. Lorem ipsum dolor sit amet consectetur elit. ',
						time: 'May 10, 2019'
					})


				.col-md-5.col-lg-4
					.aside-wrap
						.aside-item
							include ../sections/widgets/_search-form
						.aside-item
							include ../sections/widgets/_tags
						.aside-item
							include ../sections/widgets/_categories
						.aside-item
							include ../sections/widgets/_recent-posts






	//Footer
	include ../sections/_footer-classic








