extends ../_skeleton

block variables
	- pageName = 'Team'

block page
	include ../sections/_header-classic
	include ../components/card

	+breadcrumbs

	section.section-lg
		.container
			.row
				.col-12
					h2.text-center.text-lg-left.wow.fadeInLeft(data-wow-delay="0.1s") Meet our #[span.text-primary specialists]!
		.container
			.row.row-30
				.col-lg-4.col-md-6.col-12.wow.fadeInUp
					.profile-box
						.profile-preview
							+img('team-1-370x490.jpg')
						.profile-description
							h6 Johnny Watson
							span Mover

				.col-lg-4.col-md-6.col-12.wow.fadeInUp(data-wow-delay=".1s")
					.profile-box
						.profile-preview
							+img('team-2-370x490.jpg')
						.profile-description
							h6 Keith Smith
							span Logistics Engineer
				.col-lg-4.col-md-6.col-12.wow.fadeInUp(data-wow-delay=".2s")
					.profile-box
						.profile-preview
							+img('team-3-370x490.jpg')
						.profile-description
							h6 Jack Rivera
							span Warehouse Manager

				.col-lg-4.col-md-6.col-12.wow.fadeInUp(data-wow-delay=".3s")
					.profile-box
						.profile-preview
							+img('team-4-370x490.jpg')
						.profile-description
							h6 Fred Gray
							span Courier

				.col-lg-4.col-md-6.col-12.wow.fadeInUp(data-wow-delay=".4s")
					.profile-box
						.profile-preview
							+img('team-5-370x490.jpg')
						.profile-description
							h6 Ernest Hall
							span Mover

				.col-lg-4.col-md-6.col-12.wow.fadeInUp(data-wow-delay=".5s")
					.profile-box
						.profile-preview
							+img('team-6-370x490.jpg')
						.profile-description
							h6 Douglas Martin
							span Driver

				.col-lg-4.col-md-6.col-12.wow.fadeInUp(data-wow-delay=".6s")
					.profile-box
						.profile-preview
							+img('team-7-370x490.jpg')
						.profile-description
							h6 Scott Anderson
							span Dispatcher



	//Discount form
	section.section.section-md.bg-1
		.container
			.row.row-30.flex-column-reverse.flex-lg-row
				.col-lg-6.col-xl-5.offset-xl-40.wow.fadeInLeft
					h2 #[span.text-primary Contact us] & get a discount for delivery
					p Whether you require delivery or  #[span.text-primary logistics services] or fulfillment, defined freight forwarding, or a complete supply chain solution, we are here for you.
					p We think about our customers and our work based on such values as:
					.row.row-30
						.col-lg-5.col-md-6
							ul.list-marked.text-dark-blue
								li Quality;
								li Speed;
								li Integrity;
								li Affordability;
								li Efficiency;
						.col-lg-5.col-md-6
							ul.list-marked.text-dark-blue
								li Innovations;
								li Responsibility;
								li Preciseness;
								li Friendliness;
				.col-lg-6.wow.fadeInRight
					form.rd-form.rd-mailform.contact-form.form-input-bordered.block-xl-right(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-20
							.col-md-12
								.form-wrap
									input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-name') Name

							.col-md-12
								.form-wrap
									input#contact-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-phone') Phone

							.col-md-12
								.form-wrap
									input#contact-email.form-input(type='email' name='email' data-constraints='@Email @Required')
									label.form-label(for='contact-email') E-mail

							.col-12
								.form-wrap
									label.form-label(for='contact-message') Message
									textarea#contact-message.form-input(name='message' data-constraints='@Required')

							.col-md-6
								button.button.button-primary.btn-sm(type='submit') send request

	//Testimonials
	include ../sections/_review-cart
	//Footer
	include ../sections/_footer-classic








