h6 Recent posts

+post-minimal({
	title: 'How to Tackle Moving Tasks in Minutes: 5 Useful Tips',
	link: 'single-post.html',
	time: 'May 10, 2019'
})

+post-minimal({
	title: 'What You Need To Know About Preparing for Winter Moving',
	link: 'single-post.html',
	time: 'May 10, 2019'
})

+post-minimal({
	title: '8 Ways to Keep Your Home Clean and Organized After a Move',
	link: 'single-post.html',
	time: 'May 10, 2019'
})