form.rd-form.rd-search.rd-form-inline.search-form(action='search-results.html' method='GET')
	.form-wrap
		label.form-label(for='rd-search-form-input') Search
		input.form-input(id='rd-search-form-input' type='text' name='s' autocomplete='off')
		button.button.button-primary(type='submit')
			span.icon.fa.fa-search