//Swiper
section.section.swiper-container.swiper-slider.swiper-slider-1(data-loop='true' data-autoplay='5000' data-simulate-touch="false" )
	.swiper-wrapper
		.swiper-slide(data-slide-bg='images/home-slider-slide-1.jpg')
			.swiper-slide-caption.section-md
				.container
					.row
						.col-lg-6.col-md-9
							.swiper-cta-box.bg-white-1.fadeIn.animated(data-caption-animate="fadeIn" data-caption-delay="300")
								h2 Choose quality delivery of #[span.text-primary your cargo]

								p.text-dark-blue At Mingo, we guarantee quick and efficient delivery of any cargo to any part of the world.
								.swiper-btn-group
									a.button-primary.btn-sm.button(href="#") Get a Quote
									a.button-default-outline.button(href="#") Learn More

		.swiper-slide(data-slide-bg='images/home-slider-slide-2.jpg')
			.swiper-slide-caption.section-md
				.container
					.row
						.col-lg-6.col-md-9
							.swiper-cta-box.bg-white-1.fadeIn.animated(data-caption-animate="fadeIn" data-caption-delay="300")
								h2 Rated #1 #[span.text-primary transportation company]
								p.text-dark-blue We are an award-winning logistics company working globally for our customers.
								.swiper-btn-group
									a.button-primary.btn-sm.button(href="#") Get a Quote
									a.button-default-outline.button(href="#") Learn More

		.swiper-slide(data-slide-bg='images/home-slider-slide-3.jpg')
			.swiper-slide-caption.section-md
				.container
					.row
						.col-lg-6.col-md-9
							.swiper-cta-box.bg-white-1.fadeIn.animated(data-caption-animate="fadeIn" data-caption-delay="300")
								h2 Easy cargo tracking available at #[span.text-primary any time]
								p.text-dark-blue Our clients can always track their cargo on all stages of its transportation or shipping.
								.swiper-btn-group
									a.button-primary.btn-sm.button(href="#") Get a Quote
									a.button-default-outline.button(href="#") Learn More





	//Swiper Pagination
	.swiper-pagination

	//Swiper Navigation
	.swiper-button-prev.fa-arrow-left
	.swiper-button-next.fa-arrow-right
