include ../components/posts
section.section.section-lg
	.container
		.row.row-30
			.col-12
				.row.row-50
					.col-lg-5.col-md-6
						h2.wow.fadeInLeft #[span.text-primary Latest news] from our company
			.col-lg-4.col-sm-12.col-md-6.col-12.wow.fadeInUp
				+post-classic({
					dateText: 'August 6, 2019',
					title: 'Review: collaboration with a new cargo-only airport',
					text: 'One of the few cargo-only airports includes truck and rail intermodal facilities and more than 70 million square feet of warehouse and...'
				})

			.col-lg-4.col-sm-12.col-md-6.col-12.wow.fadeInUp
				+post-classic({
					dateText: 'August 6, 2019',
					title: 'Cartonization technology in parcel freight',
					text: 'We introduce technological innovations. We started to use a cartonization technology in parcel freight that allows maximizing space in a truck and...'
				})

			.col-lg-4.col-sm-12.col-md-6.col-12.wow.fadeInUp
				+post-classic({
					dateText: 'August 6, 2019',
					title: 'Usage of electric vehicles in work of our company',
					text: 'Electric vehicle technology is developing rapidly, and our company doesn’t fall behind, so we practice usage of electic vehicles for short-distance delivery...'
				})
