+parallax({
	img: 'parallax-bg-1.jpg',
	innerClass: 'section-lg'
})
	.container
		.row.justify-content-center
			.col-xl-8.text-center
				h2.wow.fadeInUp Register for shipping right now and get a #[span.text-primary discount] for the next shipment.
				.button-group.wow.fadeInUp(data-wow-delay="0.2s")
					a.button-primary.btn-sm.button(href="#") Sign Up
					a.button-default-outline.button(href="#") Learn More





