section.section.section-lg
	.container
		.row.row-30
			.col-lg-4.offset-xl-40.wow.fadeInLeft
				h2.wow.fadeInLeft(data-wow-delay="0.1s") We work quickly and #[span.text-primary efficiently]!
				p.wow.fadeInLeft(data-wow-delay="0.2s") We provide local and international delivery services. Mingo is number one company implementing #[span.text-primary logistics services.]  With our rich experience we have unique skills and professional staff.
				p.wow.fadeInLeft(data-wow-delay="0.3s") Working closely with our clients to meet exact needs has always been very rewarding for us.
				a.offset-top-20.wow.fadeInLeft.button.button-primary.btn-xs(href="#" data-wow-delay="0.4s") Read More
			.col-lg-8
				.block-lg
					.block-lg
						.row.row-30
							.col-md-6.d-flex.wow.fadeInUp(data-wow-delay=".1s")
								a.service-box(href="#" style="background: url(images/service-img-1.png) no-repeat right bottom" )
									h5 Cost savings
									p Save your money with our logistics service taking advantage of quickly delivery.
							.col-md-6.d-flex.wow.fadeInUp(data-wow-delay=".2s")
								a.service-box(href="#" style="background: url(images/service-img-2.png) no-repeat right bottom")
									h5 Secure services
									p We provide security of your delivery. You can use our online tracking system to check where your cargo is.
							.col-md-6.d-flex.wow.fadeInUp(data-wow-delay=".3s")
								a.service-box(href="#" style="background: url(images/service-img-3.png) no-repeat right bottom")
									h5 Cargo express
									p Our educated couriers deliver your cargo in the right place at the right time safely.
							.col-md-6.d-flex.wow.fadeInUp(data-wow-delay=".4s")
								a.service-box(href="#" style="background: url(images/service-img-4.png) no-repeat right bottom")
									h5 Proven Experience
									p Thousands of happy clients, hundreds of permanent customers are the result of our work.